/* Reset y configuraciones base */
* {
  font-family: monospace;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Oculta el scroll global */
}

/* Variables CSS */
:root {
  --primary-bg: #111;
  --secondary-bg: #000;
  --footer-bg: #000000;
  --text-color: #fff;
  --hover-color: #FFD700;
}

/* Estilo del body */
body {
  background-color: var(--primary-bg);
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
      "header main"
      "header main"
      "footer footer";
  min-height: 100vh;
  overflow: hidden; /* Oculta el scroll interno */
}

/* Header */
header {
  grid-area: header;
}

/* Main */
main {
  grid-area: main;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  padding: 20px 10px;
  border-top-left-radius: 25px;
  overflow-y: auto; /* Permite el scroll solo en el contenido principal */
}

/* Footer */
footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  color: var(--text-color);
  text-align: center;
  padding: 0px;
  border-bottom-left-radius: 25px;
  max-width: calc(100% - 90px); /* Resta el ancho del sidebar */
  margin-left: 90px; /* Desplaza el footer hacia la derecha */
  font-size: 12px; /* Tamaño de fuente */
}

/* NAV */
nav.sidebar {
  grid-area: header;
  height: 100%;
  width: 90px;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav .nav-item {
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav .nav-item i {
  font-size: 24px;
  margin-bottom: 5px;
}

nav .nav-item span {
  font-size: 12px;
}

nav .nav-item i, 
nav .nav-item span {
  color: var(--text-color);
}

nav .nav-item a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .nav-item:hover {
  background-color: #9b40fc;
  transform: translateX(5px);
}

/* Espaciado para los ítems de abajo */
.sidebar-bottom ul {
  padding: 0;
  margin-top: auto;
}

/* En pantallas pequeñas, asegúrate de que el body no permita el desplazamiento */
@media (max-width: 768px) {
  html, body {
    overflow: hidden; /* Elimina el scroll en móviles */
    height: 100%; /* Asegúrate de que el contenido ocupe toda la altura disponible */
  }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambia la disposición ge
  neral del grid a una columna para pantallas pequeñas */
  .container {
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: auto 1fr auto; /* Distribución de filas */
    grid-template-areas: 
        "header" /* Header ocupa la primera fila */
        "main"   /* Main ocupa la segunda fila */
        "footer";/* Footer ocupa la última fila */
  }

  main {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  /* Ajusta el sidebar para que se convierta en una barra horizontal */
  nav.sidebar {
    position: relative; /* Elimina la posición fija */
    height: auto; /* Ajusta automáticamente la altura */
    width: 100%; /* El sidebar ocupa todo el ancho de la pantalla */
    flex-direction: row; /* Coloca los elementos en una fila horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 5px 0; /* Espaciado superior e inferior */
  }

  /* Ajusta la lista de navegación */
  nav ul {
    display: flex; /* Usa Flexbox para los elementos de la lista */
    flex-direction: row; /* Coloca los ítems en una fila */
    justify-content: center; /* Centra los ítems en la barra */
    gap: 10px; /* Añade un espacio de 10px entre cada ítem */
  }

  /* Ajusta los elementos individuales del menú */
  nav .nav-item {
    margin: 10px; /* Elimina el margen */
    width: auto; /* Ajusta automáticamente el ancho */
    height: auto; /* Ajusta automáticamente la altura */
  }

  nav .nav-item {
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  footer {
    max-width: 100%; /* Elimina la limitación de ancho */
    margin-left: 0; /* Elimina el desplazamiento hacia la derecha */
    border-bottom-left-radius: 0; /* Opcional: elimina bordes redondeados si no son necesarios */
    border-bottom-right-radius: 0; /* Opcional: elimina bordes redondeados si no son necesarios */
    
  }
}

/* update.html*/
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin: 10px;
  max-height: 80vh; /* Ajusta el alto máximo para el contenido con scroll */
  overflow-y: auto; 
}
/* Oculta la barra de desplazamiento en navegadores basados en Webkit */
.content::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Oculta la barra de desplazamiento en Firefox */
.content {
  scrollbar-width: none; /* Oculta la barra en Firefox */
  -ms-overflow-style: none; /* Oculta la barra en Internet Explorer/Edge */
}

.image {
  display: flex; /* Mantén el uso de flex si es necesario para el diseño */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  object-fit: cover; /* Ajusta la imagen al contenedor */
}

.image img {
  width: 300px; /* Establece un ancho deseado */
  height: auto; /* Mantén la proporción de la imagen */
  border-radius: 10px; /* (Opcional) Bordes redondeados */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .version {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.header .date {
  font-size: 14px;
  color: #aaa;
  margin-left: 10px;
}


/* From Uiverse.io by neerajbaniwal */ 
.btn-shine {
  position: relative;
  padding: 0px 55px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #ffffff 10%, #868686 20%);
  
  -webkit-background-clip: text;
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear; /* Extiende la duración */
  
  font-family: "Poppins", sans-serif;
}

@keyframes shine {
  0% {
    background-position: -30px; /* Inicia fuera del contenido */
  }
  20% {
    background-position: 50px; /* Termina al final del contenido */
  }
  40% {
    background-position: 100px; /* Termina al final del contenido */
  }
  60% {
    background-position: 150px; /* Ajusta este valor según el ancho del texto */
  }
  80% {
    background-position: 200px; /* Termina al final del contenido */
  }
  100% {
    background-position: 220px; /* Termina al final del contenido */
  }
}
