/* Reset y configuraciones base */
* {
  font-family: monospace;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Oculta scroll global */
}

/* Variables CSS */
:root {
  --primary-bg: #111;
  --secondary-bg: #000;
  --footer-bg: #000;
  --text-color: #fff;
  --hover-color: #980bf0;
  --sidebar-width: 90px;
  --transition-speed: 0.3s ease;
}

/* Estilo del body */
body {
  background-color: var(--primary-bg);
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header main"
    "header main"
    "footer footer";
  min-height: 100vh;
  overflow: hidden;
}

/* Header */
header {
  grid-area: header;
}

/* Main */
main {
  grid-area: main;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  padding: 0px 0px;
  border-top-left-radius: 25px;
  overflow-y: auto;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  color: var(--text-color);
  text-align: center;
  padding: 0px;
  border-bottom-left-radius: 25px;
  max-width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  font-size: 12px;
}

/* Sidebar Navigation */
nav.sidebar {
  grid-area: header;
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .nav-item {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

nav .nav-item i, 
nav .nav-item span {
  color: var(--text-color);
}

nav .nav-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .nav-item:hover {
  background-color: var(--hover-color);
  transform: translateX(5px);
}

.nav-item.active {
  background-color: var(--hover-color);
}

.nav-item.active i, 
.nav-item.active span {
  color: #fff; /* Color para el texto del elemento activo */
}

.sidebar-bottom ul {
  margin-top: auto;
}

/* Botón brillante */
.btn-shine {
  position: relative;
  padding: 0px 55px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f, #ffffff, #868686);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
  font-family: "Poppins", sans-serif;
}

@keyframes shine {
  0% {
    background-position: -30px; /* Inicia fuera del contenido */
  }
  20% {
    background-position: 50px; /* Termina al final del contenido */
  }
  40% {
    background-position: 100px; /* Termina al final del contenido */
  }
  60% {
    background-position: 150px; /* Ajusta este valor según el ancho del texto */
  }
  80% {
    background-position: 200px; /* Termina al final del contenido */
  }
  100% {
    background-position: 220px; /* Termina al final del contenido */
  }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";
  }

  main {
    border-radius: 25px 25px 0 0;
  }

  nav.sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  footer {
    max-width: 100%;
    margin-left: 0;
    border-radius: 0;
    padding: 0px;
  }
}
