<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:title" content="Lorem ipsum dolor sit amet">
  <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://gpradinett.com">
  <meta property="og:image" content="https://gpradinett.com/static/image.jpg">
  <meta name="robots" content="index, follow">
  <title>{{ section.title if section else "F3R. website" }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <nav class="sidebar" aria-label="Main Navigation">
        <ul>
          <li class="nav-item {% if request.path == '/v1/save' %}active{% endif %}">
            <a href="/v1/save"><i class="fas fa-download"></i><span translate="no" lang="en">Save</span></a>
          </li>
          <li class="nav-item {% if request.path == '/v1/remix' %}active{% endif %}">
            <a href="/v1/remix"><i class="fas fa-sync-alt"></i><span translate="no" lang="en">Remix</span></a>
          </li>
          <li class="nav-item {% if request.path == '/v1/settings' %}active{% endif %}">
            <a href="/v1/settings"><i class="fas fa-cog"></i><span translate="no" lang="en">Settings</span></a>
          </li>
          <li class="nav-item {% if request.path == '/v1/donate' %}active{% endif %}">
            <a href="/v1/donate"><i class="fas fa-heart"></i><span translate="no" lang="en">Donate</span></a>
          </li>
          <li class="nav-item {% if request.path == '/v1/updates' %}active{% endif %}">
            <a href="/v1/updates"><i class="fas fa-info-circle"></i><span translate="no" lang="en">Updates</span></a>
          </li>
          <li class="nav-item {% if request.path == '/v1/about' %}active{% endif %}">
            <a href="/v1/about"><i class="fas fa-question-circle"></i><span translate="no" lang="en">About</span></a>
          </li>
        </ul>
        
      </nav>
    </header>

    <!-- Main Content -->
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <p><a class="btn-shine">Powered by gpradinett.</a></p>
      <p><a class="btn-shine">Made with Love ❤️</a></p>
    </footer>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const pasteButton = document.getElementById("paste-btn");
      const inputField = document.getElementById("link-input");

      pasteButton.addEventListener("click", async () => {
        try {
          const text = await navigator.clipboard.readText();
          inputField.value = text; // Pega el texto en el campo de entrada
        } catch (err) {
          console.error("Failed to read clipboard contents:", err);
          alert("Unable to access clipboard. Please allow clipboard permissions.");
        }
      });
    });
  </script>
</body>
</html>
