<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:title" content="Lorem ipsum dolor sit amet">
  <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://gpradinett.com">
  <meta property="og:image" content="https://gpradinett.com/static/image.jpg">
  <meta name="robots" content="index, follow">
  <title>{{ section.title if section else "gpradinett website" }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/estilos.css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
        <nav class="sidebar" aria-label="Main Navigation">
          <ul>
            <li class="nav-item {% if request.path == '/save' %}active{% endif %}">
              <a href="/save"><i class="fas fa-download"></i><span>Save</span></a>
            </li>
            <li class="nav-item {% if request.path == '/remix' %}active{% endif %}">
              <a href="/remix"><i class="fas fa-sync-alt"></i><span>Remix</span></a>
            </li>
          </ul>
          <div class="sidebar-bottom">
            <ul>
              <li class="nav-item {% if request.path == '/settings' %}active{% endif %}">
                <a href="/settings"><i class="fas fa-cog"></i><span>Settings</span></a>
              </li>
              <li class="nav-item {% if request.path == '/donate' %}active{% endif %}">
                <a href="/donate"><i class="fas fa-heart"></i><span>Donate</span></a>
              </li>
              <li class="nav-item {% if request.path == '/updates' %}active{% endif %}">
                <a href="/updates"><i class="fas fa-info-circle"></i><span>Updates</span></a>
              </li>
              <li class="nav-item {% if request.path == '/about' %}active{% endif %}">
                <a href="/about"><i class="fas fa-question-circle"></i><span>About</span></a>
              </li>
            </ul>
          </div>
        </nav>
          
    </header>

    <!-- Main -->
    <main role="main">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <p><a class="btn-shine">Powered by gpradinett.</a></p>
      <p><a class="btn-shine">Made with Love ❤️</a></p>
    </footer>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const pasteButton = document.getElementById("paste-btn");
      const inputField = document.getElementById("link-input");
  
      pasteButton.addEventListener("click", async () => {
        try {
          const text = await navigator.clipboard.readText();
          inputField.value = text; // Pega el texto en el campo de entrada
        } catch (err) {
          console.error("Failed to read clipboard contents:", err);
          alert("Unable to access clipboard. Please allow clipboard permissions.");
        }
      });
    });
  </script>  
</body>
</html>
