{% extends "base.html" %}
{% block content %}
<body>
 

  <div class="content">
    <div class="header">
      <div class="version">4.3.2</div>
      <div class="date">15 de noviembre de 2022</div>
    </div>
    <h1>Mejoras en Twitter y revisión del registro de cambios</h1>
    <div class="image">
      <img src="/static/SAM_2627_Julia_Smoke.jpg" alt="Actualizaciones de Cobalt">
    </div>

    <h1>Mejoras en Twitter y revisión del registro de cambios</h1>
    <ul>
      <li>Puedes descargar contenido explícito de Twitter.</li>
      <li>Los enlaces directos de video desde Twitter son compatibles (video/1, video/2, etc.).</li>
      <li>El historial de registros de cambios tiene soporte para banners.</li>
      <li>Las categorías del registro de cambios ya no son desordenadas.</li>
      <li>La versión de Cobalt en los registros de cambios ahora está resaltada.</li>
      <li>El historial de registros de cambios tiene separadores para facilitar la lectura del texto.</li>
      <li>El historial del registro de cambios se puede contraer después de cargarlo.</li>
      <li>El botón de descarga tarda menos tiempo en volver al estado pulsable.</li>
    </ul>

    <p>
      Si eres un desarrollador y te gustaría jugar con la API de Cobalt, ¡lee más sobre ella en los registros de cambios más antiguos a continuación!
    </p>
  </div>
</body>
{% endblock %}
